td.today {
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
}

th.today {
    border-top : 2px solid lightskyblue;
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
}

td.last {
    border-bottom : 2px solid lightskyblue;
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
}

table.table-striped td.weekend, table.table-dark td.weekend, table.table-dark th.weekend {
    background-color: #191717;
    --bs-table-striped-bg: #191717;
}

.shiftContainer {
    display: grid;
    align-items: center;
    height:100%;
    width: 100%;
    position: relative;
}

.homeOffice {
    border:2px solid red;
}