th.day {
    text-align: center;
}

td.today {
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
}

th.today {
    border-top : 2px solid yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
}

td.last {
    border-bottom : 2px solid yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
}

table.table-striped td.weekend, table.table-dark td.weekend, table.table-dark th.weekend {
    background-color: #191717;
    --bs-table-striped-bg: #191717;
}

.shiftWrapper {
    display: table;
    height:100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}

.shiftContainer {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.homeOffice {
    border:2px solid red;
}

.day {
    width: 30px;
    height: 1px;
    position: relative;
}

.name {
    width: 10%;
    white-space: nowrap;
}

.schedule {
    font-size: x-small;
}